<div class="flex flex-row">
  <div class="basis-2/3">
    <div id="map" class="h-svh"></div>
  </div>

  <div class="basis-1/3">
    <h1 class="text-2xl font-bold mb-4">Map Layers</h1>
    <div id="layer-toggles" class="mb-4">
      <!-- Layer toggles will be dynamically added here -->
    </div>
  </div>
</div>

<script>
  var layersData = [
    {
      name: 'Pedestrian Network',
      data: <%= @pedestrian_network.to_json %>,
      color: '#9da5a8',
      type: 'line',
      visible: false
    },
    {
      name: 'Schools',
      data: <%= @schools.to_json %>,
      color: '#FF0000',
      type: 'point',
      pointSize: 8,
      visible: true
    },
    {
      name: 'Urban planning units',
      data: <%= @urban_planning_units.to_json %>,
      color: '#87CEEB',
      fillColor: '#87CEEB',
      fillOpacity: 0.3,
      type: 'polygon',
      visible: false
    }
  ];
</script>


    